[submodule "SDL2"]
	path = SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "SDL3"]
	path = SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/crisp-game-lib"]
	path = submodules/crisp-game-lib
	url = https://github.com/abagames/crisp-game-lib
        ignore = dirty
