node_modules/
.vscode/
package-lock.json
build/
src/cglpPlaydate/build/
src/cglpPlaydate/build_arm/
src/cglpPlaydate/crisp-games.pdx/
src/cglpPlaydate/Source/pdex.bin
src/cglpPlaydate/Source/pdex.dll
src/cglpPlaydate/Source/pdex.elf
MyTempOutputFolder
obj
cglpsdl1.exe
cglpsdl2.exe
js
working/
cglpsdl1
cglpsdl2
*_test
NOTES.txt
